@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100&family=Faster+One&family=Lato:wght@300&display=swap');

/*Nav*/
nav {
    width: 100%;
    background-color: rgb(255, 38, 38, 0.7)
}

nav > ul {
    list-style: none;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
}

nav > ul > li {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Barlow', sans-serif;
    text-align: center;
}

nav > ul > li > a {
    color: #fff;
    text-decoration: none;
    height: 50px;
    display: flex;
    padding: 1.5em;
    border-radius: 0.5em;
}

nav > ul > li > a:hover {
    text-align: center;
    transition: 0.5s;
    height: 25px;
    background-color: rgb(255, 38, 38, 0.3);
}
/*End of Nav*/

/*Header*/
header {
    background-image: url(../images/wheels3.jpg);
    background-size: cover;
    background-position: center;
    height: 250px;
    font-size: 50pt;
}

h1 {
    font-family: 'Faster One', cursive;
    color: #fff;
    text-shadow: 4px 4px rgba(0, 0, 0, 0.75);
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 36pt;
}

header h2 {
    font-family: 'Barlow', sans-serif;
    color: #fff;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.75);
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 20pt;
}
/*End of Header*/

/*Main*/
#firstmain h2 {
    font-family: 'Faster One', cursive;
    color: #fff;
    text-shadow: 3px 3px rgba(0, 0, 0, 0.75);
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 25pt;
}

#firstmain h3 {
    font-family: 'Barlow', sans-serif;
    color: #ccc;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.75);
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 15pt;
    font-weight: bold;
}

#firstmain p {
    font-family: 'Lato', sans-serif;
    font-size: 20pt;
    display: flexbox;
    flex-direction: column;
    text-align: center;
    padding: 0.5em;
}

main {
    background-color: rgb(255, 34, 34,0.5);
}
/*End of Main*/
/*Footer*/
footer {
    width: 100%;
    height: 45px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 38, 38, 0.7);
    font-family: 'Barlow', sans-serif;
    font-weight: bold;
}
/*End of Footer*/