@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100&family=Faster+One&family=Lato:wght@300&display=swap');

/*Nav*/
nav {
    width: 100%;
    background-color: rgb(255, 38, 38, 0.7)
}

nav > ul {
    list-style: none;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
}

nav > ul > li {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Barlow', sans-serif;
    text-align: center;
}

nav > ul > li > a {
    color: #fff;
    text-decoration: none;
    height: 50px;
    display: flex;
    padding: 1.5em;
    border-radius: 0.5em;
}

nav > ul > li > a:hover {
    text-align: center;
    transition: 0.5s;
    height: 25px;
    background-color: rgb(255, 38, 38, 0.3)
}
/*End of Nav*/

/*Header*/
header {
    background-image: url(../images/s13header.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    height: 4em;
    font-size: 50pt;
    padding: 1em;
    width: 100%;
    overflow: hidden;
}
/*End of Header*/